<!-- <ng-container *ngIf="view  === 'list'"> -->
<mat-drawer-container style="height: 100%">
  <!-- <ng-container *ngIf="view === 'list'"> -->
  <mat-drawer #drawer mode="over" position="end" class="drawer-content" style="height: 100%;"
    [ngStyle]="{ width: (viewType === 'upload'||viewType === 'bulk-upload') ? '90%' : '30%' }" hasBackdrop="true">
    @if (viewType=="list-view") {
    <div style="top: 1px; right: 10px">
      @if (config?.['sideNavHeading']) {
      <div style="display: flex; justify-content: space-between">
        <h2 class="mat-title">
          {{ config?.['sideNavHeading'] | uppercase }} {{'MY_TASK.LIST' | translate}}
        </h2>
        <span></span>

        <mat-icon (click)="closeDrawer()">close</mat-icon>

      </div>
      } @if (this.config?.['matdarwerDefs']) {
      <div class="page" style="padding: 10px; margin: 10px">
        <!-- ? CLient Side AG Grid -->
        <ag-grid-angular #agGrid style="
                width: 100%;
                height: calc(90vh - 120px);
                flex: 1 1 auto;
                text-align: center;
              " class="ag-theme-quartz" [headerHeight]="40" [defaultColDef]="defaultColDef"
          [columnDefs]="matDrawercolumnDef" [rowSelection]="'single'" [pagination]="true" [context]="context"
          [components]="components" [rowData]="matDrawerrowData" [getRowId]="getRowId" [groupDefaultExpanded]="-1"
          (gridReady)="onGridReady1($event)" [suppressRowClickSelection]="true"></ag-grid-angular>
      </div>
      }
    </div>
    }@else if (viewType=="form-view") {
    <div style="top: 1px; right: 10px;margin-left: 10px;
    margin-top: 5px;">
      <div style="display: flex; justify-content: space-between">
        @if (config?.['sideNavHeading']) {
        <h2 class="mat-title">
          {{ config?.['sideNavHeading'] | uppercase }}
        </h2>
        }@else {
        <h2 class="page-title">{{ pageHeading }}</h2>
        }

        <span></span>
        <mat-icon (click)="closeDrawer()">close</mat-icon>

      </div>

      @if (this.viewFields) {
      <div style="width: 100%; margin: 5px">
        <formly-form [model]="viewModel" [fields]="viewFields"></formly-form>
      </div>
      }
    </div>
    }
  </mat-drawer>
  <mat-drawer-content class="mat-drawer-content-wrapper">
    <mat-card style="height: 100%; background-color: var(--background-color)">
      <div [ngClass]="config?.['upload'] ? 'page-title-container ml-13' : 'page-title-container'">
        <h2 class="page-title" [ngStyle]="{ 'margin-left':'0px' }">
          @if (isParent && config?.['showParentDetails'] && config?.['parentName_labelprop'] &&
          parentDetails?.[config?.['parentName_labelprop']]) {
          {{ parentDetails?.[config?.['parentName_labelprop']] }}
          @if(config?.['placeDivider']){
          {{ config?.['placeDivider'] }}
          }
          }

          @if (pageHeading) {
          {{ pageHeading | translate | uppercase }}
          }
        </h2>
        <span style="display: flex;align-content: space-around;align-items: center;gap: 20px;margin-right: 20px;">
          @if(filterOptions){
          <div class="zindex-20">
            <app-dynamic-filter [filterOptions]="filterOptions" [showdefaultFilter]="showdefaultFilter"
              [config]="config" (filterValue)="getList($event, null, true)"></app-dynamic-filter>
          </div>
          }
          @if (this.showbutton==true) {
          <div>
            <button class="icon buttonclass" matTooltip="{{ 'FORM.COMMON.ADD' | translate }}" mat-mini-fab
              (click)="onAddButonClick($event)">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          } @if (this.config?.['print']==true &&
          this._permissionService.isvisible(config?.['printACL'])) {
          <div>
            <button class="icon buttonclass" matTooltip="{{ 'FORM.COMMON.ADD' | translate }}" mat-mini-fab
              (click)="onbuttonexport()">
              <mat-icon>print</mat-icon>
            </button>
          </div>
          }
        </span>
      </div>
      @if (filterOptions) {
      <!-- filter -->
      <div class="zindex-20">
        <app-dynamic-filter [filterOptions]="filterOptions" [showdefaultFilter]="showdefaultFilter" [config]="config"
          (filterValue)="getList($event, null, true)"></app-dynamic-filter>
      </div>
      } @if (isConfigLoaded) {
      <div style="
            display: flex;
            justify-content: center;
            width: 99%;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 7px;
            margin-right: 48px;
          " class="grid_con_res">
        <!-- [theme]="theme" ag-grid-angular theme -->
        <ag-grid-angular #agGrid style="width: 100%; flex: 1 1 auto" [ngStyle]="{
              height: filterOptions
                ? 'calc(100vh - 275px)'
                : 'calc(-182px + 100vh)'
            }" class="ag-theme-quartz" [defaultColDef]="defaultColDef" [columnDefs]="columnDefs"
          [rowSelection]="'single'" [pagination]="true" [overlayNoRowsTemplate]="overlayNoRowsTemplate"
          [getRowId]="getRowId" (rowDoubleClicked)="onRowDoubleClicked($event)"
          [getContextMenuItems]="getContextMenuItems" [gridOptions]="gridOptions"
          (firstDataRendered)="onFirstDataRendered($event)" [context]="context" (cellClicked)="onCellClicked($event)"
          [components]="components" (gridReady)="onGridReady($event)">
        </ag-grid-angular>
      </div>
      }
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
<!-- </ng-container> -->
<ng-template #editViewPopup class="example-sidenav" mode="over" style="height: auto" let-data>
  @if (formAction == 'view') {
  <div style="text-align-last: end">
    <mat-icon (click)="this.dialogService.closeModal()">close</mat-icon>
  </div>
  }
  <div class="page">
    @if (formAction != 'view') {
    <div class="page-content">
      <app-dynamic-form [formName]="formName" [model]="data" [mode]="screenEditMode"
        (onClose)="close($event)"></app-dynamic-form>
    </div>
    }
  </div>

  @if (formAction == 'view') {
  <div class="center" style="width: 100%; margin: 5px">
    <h2 class="page-title">{{ pageHeading }}</h2>
    <formly-form [model]="data" [fields]="fields"></formly-form>
  </div>
  }
</ng-template>